# Shared settings for local development
NODE_ENV=development
AWS_REGION=ap-northeast-1
AWS_PROFILE=default
NEXT_TELEMETRY_DISABLED=1
TURBO_TELEMETRY_DISABLED=1
SAM_CLI_TELEMETRY=0
STAGE_NAME=dev

# Optional: Turbo remote caching
# TURBO_TOKEN=
# TURBO_TEAM=
